* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;  
}


.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  

}